/* Header styles */

header {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: center;
    background-color: $smoke;
    
    .logo {
        font-size: 2em;
        font-weight: bold;
    }
    .subtitle {
    font-size: 1.2em;
    }
    .social {
        font-size: 1.4em;
        line-height: 2em;
        a {
            margin: 0 .1em;
            color: $steel;
            :hover {
                color: $jet;
            }
        }
    }
    
}
