// Custom variables for fonts and colors
$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$steel: #666666;

$body-font-color: $steel;

$paragraph-font-family: $font-family-serif;
$paragraph-font-size: 1.1rem;
$paragraph-line-height: 1.8;
